body {
    background-color: var(--blue-body);
    color:var(--white);
    max-width: 100%;
    margin-top:0%;
    margin: 0%;
    
}

.body__yellow {
    background-color: var(--jaune-1);
    color:var(--noir);
    max-width: 100%;
    margin-top:0%;
    margin: 0%;
    
}

:any-link {
    cursor: pointer;
    color:var(--white);
    text-decoration: none;
}

.menu a:link{color: var(--noir);}

.project a:link{color: var(--noir);}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--heading-1);

}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: var(--heading-2);
    
}

h3 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: var(--small-text);
    font-weight: normal;
    
    
}

p {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: var(--small-text);
}

.annex {
    background-color: var(--blue-body);
    max-width: 100%;
    text-align: center;
    color: var(--white);
}

.glossary__title {
    font-family: 'Oswald', sans-serif;
    font-size: var(--heading-2);
}

.glossary__word {
    font-family: 'Oxygen', sans-serif;
    font-size: var(--small-text);
}

.list__film {
    list-style: none;
}

.project {
    color: var(--noir);
}
.project__list {
    list-style: none;
    position: relative;
    right: 22px;
}
