.body {
    background-color: var(--blue-body);
    color:var(--white);
    max-width: 100%;
    margin-top:0%;
    margin: 0%;

}

a:-webkit-any-link {
    cursor: pointer;
    color:var(--white);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;

   }

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

p {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.card__title {
    display: block;
    justify-content: left;
    text-align: left;

}

.card__title-2 {
    display: block;
    justify-content: right;
    text-align: right;

}

.card__description {
    display: block;
    justify-content: left;
    text-align: left;

}

.card__description-2 {
    display: block;
    justify-content: right;
    text-align: right;

}

.annex {
    background-color: var(--blue-body);
    max-width: 100%;
    

    text-align: center;
}

