body {
    background-color: #031036;
    color: white;
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;

   }

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

p {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

header {
    background-color: white;
}