.header__menuBtn {
  position: relative;
  z-index: 10;
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background:var(--white);
  display: grid;
  justify-content: center;
  text-align: center;
  z-index: 5;
  
}

.menu__item {
  text-align: center;
  color: var(--noir);
  font-family: 'Hind', sans-serif;
  list-style-type: none;

}

