:root{
    --texte1: 'Roboto';
    --texte2: 'Oswald';
    --texte3: 'Oxygen';
    --p: 'Oxygen';

/* Color styles */
--blue-body: rgba(3, 16, 54, 1);
--bleu-2: rgba(33, 51, 101, 1);
--jaune-1: rgba(255, 184, 0, 1);
--jaune-3: rgba(251, 218, 134, 1);
--noir: rgba(0, 0, 0, 1);
--bleu-3: rgba(68, 86, 138, 1);
--bleu-4: rgba(109, 125, 169, 1);
--white: rgba(255, 255, 255, 1);
--jaune-2: rgba(255, 200, 58, 1);

/* Text-size styles */
--heading-1: 22px;
--heading-2: 20px;
--subheading: 14px;
--body: 16px;
--link: 13px;
--button: 22px;
--small--text: 13px;

}