.footer {
    background-color:var(--noir);
}

.footer__item {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.footer__mail {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.footer__logommi {
    display: block;
    margin-left: auto;
    margin-right: auto 
}