footer {
    background-color:var(--white);
    color: var(--blue-body);
    padding: 8px;
    text-align: center;
    margin-top: 30px;
    
}

.footer__item {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: var(--blue-body);
    list-style-type: none;

}

.footer__id {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: var(--blue-body);
}

.footer__mail {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    text-decoration: underline;
    color: var(--blue-body);

}

.footer__logommi {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer__social {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}