header {
    background-color:var(--white);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}


.header__menuBtn {
    left: 250px;
    background-color:var(--white);
    border-style: none;
    
}

.header__logo {
    justify-content: center;


}
.header__flag {
    right: 250px;
    background-color:var(--white);
    border-style: none;
    
}

