header {
    background-color:var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}


.header__menuBtn {
    left: 325px;
    top: -3px;
    background-color:var(--white);
    border-style: none;
    
}

.header__logo {
    position: relative;
    left: 28px;
    top: -6px;



}
.header__flag {
    position: relative;
    right: 40px;
    top: 1px;
    background-color:var(--white);
    border-style: none;
    margin-top: 3px;
   
}
