.intro {
    background-color: var(--noir);
    position: relative;
}

.card__img {
    margin-top: 12px;
    position: relative;
    border-radius: 10%;

    
}

.card__title {
    margin-top: 12px;
    position: relative;

}

.card__description {
    margin-top: 12px;
    position: relative;

}

